 <!-- Page header with logo and tagline-->
 <header class="py-5 bg-dark border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder" style="color:rgb(233, 233, 239)">Welcome!</h1>
            <p class="lead mb-0" style="color:rgb(233, 233, 239)">News About the city around Europe</p>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="../../../assets/france.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">May 26, 2022</div>
                    <h2 class="card-title">FRANCE</h2>
                    <p class="card-text"> France is the largest country in the European Union, and it is also an old country and the birthplace of various liberal arts, especially the country of origin of Gothic construction arts.</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../../assets/manchester.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">May 26, 2022</div>
                            <h2 class="card-title h4">Manchester</h2>
                            <p class="card-text">Manchester is famous for its nightlife. Modern DJ club culture began in the city, and clubs here played an important part in the development of electronic music. The beginning of house music, Madchester sound and Ibiza music.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../../assets/munich.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">May 26, 2022</div>
                            <h2 class="card-title h4">Munich</h2>
                            <p class="card-text">Based on high-tech, automotive, hospitality and creative industries, including IT, biotechnology, engineering and electronics, munich's core economy is home to the headquarters of many multinational companies such as BMW, Siemens, MAN, Allianz and MunichRE. </p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../../assets/lisbon.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">May 26, 2022</div>
                            <h2 class="card-title h4">Lisbon</h2>
                            <p class="card-text">Lisbon is the capital of Portugal with a beautiful and mixed mix of architecture from both the new and old ages, which are said to be very beautiful and charming. Fresh seafood is also a highlight of the city's et al-et alcontic ocean.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../../assets/barcelona.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">May 26, 2022</div>
                            <h2 class="card-title h4">Barcelona</h2>
                            <p class="card-text">If you've arrived in Barcelona, don't miss out on a walk through the city's beautiful and unique architecture. The first places to pin down are the Sagrada Familia Cathedral and Park Guell Gardens, designed by world-renowned architect Antonio Gaudi. And end the day with the Picasso Museum.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Food</a></li>
                                <li><a href="#!">Culture</a></li>
                                <li><a href="#!">Fashion</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!"></a></li>
                                <li><a href="#!"></a></li>
                                <li><a href="#!"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
