<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="../../../assets/swit.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Switzerland</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">$4000.00</span>
                    <span>$3500.00</span>
                </div>
                <p class="lead">Switzerland has always been popular with tourists. No matter who wants to see heaven on earth here once in a while, Switzerland has a fascinating nature, especially the mountainous landscape, which occupies over 60% of the country's land, with its main mountain range being the Alps, and although Switzerland is a small country, it is really attractive in every square meter for anyone planning to visit or want to get to know it better.</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#"outerLinkActive="active" 
                        routerLink="/infohome">Ticket</a></div>
                    </div>
                </div>
            </div>
        </div>
    
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related Places </h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="../../../assets/england.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">ENGLAND</h5>
                            <!-- Product price-->
                            $2900 - $4300
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" style="margin-top: 5;"/><br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#"outerLinkActive="active" 
                            routerLink="/infohome">Ticket</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="../../../assets/germany.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">GERMANY</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$2900</span>
                            $2500
                        </div>
                    </div>
                    <!-- Product actions-->
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" style="margin-top: 5;"/><br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ticket</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="../../../assets/spain.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">SPAIN</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$2300</span>
                            $2000
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" style="margin-top: 5;"/><br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ticket</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="../../../assets/portugal.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">PORTUGAL</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $2600
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" style="margin-top: 5;"/><br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ticket</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
